section{

}

.boxanimate{
    position: absolute;
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    background: gray;
    opacity: 0.5;
    border: green double 30px;
}

.boxanimaterotate{
    position: absolute;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    top: 40%;
    right: 40%;
    animation-name: boxrotate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transition-timing-function: linear;
    /*background: yellow;*/
    transform-style: preserve-3d;

}

@keyframes boxrotate {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}




.frontanimatemowefront{
    position: absolute;
    width: 25vw;
    height: 25vh;
    margin: 0 auto;
    background: blue;
    top: 30%;
    left: 35%;
    animation-name: frontanimat;
    animation-iteration-count: infinite;
    animation-duration: 10s ;
    transition-timing-function: linear;
    transform-style: preserve-3d;
    transform: translateZ(-50px);



}

.frontanimatemowefront::before{
    transform-style: preserve-3d;
    transform: translateZ(-5px);
    content: 'front';
    background: blue;

}

@keyframes frontanimat {
    from{
        transform: rotateZ(0deg) translateZ(-50px) ;

        }
    to{
        transform:rotateZ(360deg) translateZ(-50px) ;


    }
}







.backanimatemoveback{
    position: inherit;
    width: 25vw;
    height: 25vh;
    margin: 0 auto;
    background: red;
    top: 30%;
    left: 35%;
    animation-name: backanimat;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transition-timing-function: linear;
    transform-style: preserve-3d;
    transform: translateZ(50px);

}

@keyframes backanimat {
    from{
        transform: rotateZ(0deg) translateZ(50px);


    }
    to{
        transform:  rotateZ(-360deg) translateZ(50px) ;



    }
}


.backanimatemoveback::before{
    content: 'back';
    background: red;
    transform-style: preserve-3d;
    transform: translateZ(5px);
}
