/*font-family: 'Lobster', cursive;*/
/*font-family: 'Fira Mono', monospace;*/
/*font-family: 'Oswald', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: palegoldenrod;
    width: 90%;
    margin: auto;
    font-size: 1em;

}
header {
    background-color: chartreuse;
    font-size: 0.5cm;
    height: 20vh;
    font-family: 'Oswald', sans-serif;
}
        .logo, .header_find, .nav{
            display: inline-block;
            height: inherit;
            float: left;

        }
        .logo {
            background-color: blue;
            width: 20%;
        }
        .logo > img, p {
            float: left;
            margin-top: 5vh;
        }
        .header_find {
            width: 20%;
        }
        .header_find > input, img{
            float: left;
            border-width: 0;
            height: 20%;
            margin-top: 5vh;
        }
        .header_find > input{
            width: 80%;

        }
        .header_find > img{
            width: 20%;
        }
        .nav{
            background-color: aqua;
            width: 60%;
            text-align: center;
        }

        .nav ul {
            list-style: none;
            margin-top: 5vh;
        }
       .nav ul::before{
            content: "+";
        }
        a{
            text-decoration: none;
            color: black;
        }
       .nav a {
            color: crimson;
        }
       li{
           display: inline;

       }

.main {
    /*height: 60vh;*/
    background-color: gold;
    font-family: 'Lobster', cursive;
    overflow: hidden;
}
        .news{
            display: inline-block;
            width: 30%;
            float: left;
            margin-left: 2.5%;
        }
            .news_pic {
                display: block;
                overflow: hidden;
            }
                .news_pic > img {
                    display: block;

                }

            .rubryka_data{
                display: block;
                overflow: hidden;
            }

                .rubryka{
                    float: left;
                    display: inline-block;

                }
                .data {
                    float: right;
                    display: inline-block;

                }


            .news_name{
               display: block;
            }
                .news_name > a {
                    display: block;
                }
footer{
    background-color: aqua;
    font-size: 0.5rcm;
    font-family: 'Fira Mono', monospace;
    overflow: hidden;
    /*height: 20vh;*/
}

.f_logo{
    display: inline-block;
    overflow: hidden;
}
.f_img > img {
    margin-top: 0;
    display: inline-block;
}
.f_logo_name{
    display: inline-block;
}


.you_need_more span {
    font-size: 0.9rem;
}

.f_using span {
    font-size: 0.8rem;
}

.lines{
    display: inline-block;

}

.line1 {
    background-color: crimson;
    display: inline-block;
}

.line2   {
    background-color: gold;
    display: inline-block;
}

  .line3{
    background-color: greenyellow;
      display: inline-block;
}

.line4 {
    background-color: cadetblue;
    display: inline-block;
    overflow: hidden;
}

.lines  ul li a {
    display: block;
    height: 10%;
    margin-top: 0;
}