section{

}

.boxanimate{
    position: absolute;
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    background: gray;
    opacity: 0.5;
    border: green double 30px;
}

.boxanimaterotate{
    position: absolute;
    width: 20vw;
    height: 20vh;
    margin: 0 auto;
    top: 40%;
    right: 40%;
    animation-name: boxrotate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transition-timing-function: linear;
    background: yellow;
    z-index: 2;
}

@keyframes boxrotate {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}




.frontanimatemowefront{
    position: inherit;
    width: 10vw;
    height: 10vh;
    margin: 0 auto;
    background: blue;
    top: 30%;
    left: 25%;
    animation-name: frontanimat;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transition-timing-function: linear;
    z-index: 1;

}

.frontanimatemowefront::before{
    content: 'front';
    background: blue;
}
.frontanimatemowefront::after{
    content: '';
    background: blue;
}
@keyframes frontanimat {
    from{
        transform: rotateZ(0deg);
        z-index: 1;

    }
    to{
        transform: rotateZ(360deg);
        z-index: 3;
    }
}







.backanimatemoveback{
    position: inherit;
    width: 10vw;
    height: 10vh;
    margin: 0 auto;
    background: red;
    top: 30%;
    left: 25%;
    animation-name: backanimat;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transition-timing-function: linear;
    z-index: 3;
}

@keyframes backanimat {
    from{
        transform: rotateZ(0deg) ;
        z-index: 3;
    }
    to{
        transform: rotateZ(-360deg);
        z-index: 1;
    }
}


.backanimatemoveback::before{
    content: 'back';
    background: red;
}

.backanimatemoveback::after{
    content: '';
    background: red;
}