h1 {
    color: olive;
}

.header {
    color: red;
    background: green;
    border-box; 2px red
}

section > p {
    background: darkslategrey;
    color: darkorange;
}

#special {
    border: 10px solid #000000;
}

#article{
    border: 10px solid #000000;
}

.back {
    background: darkkhaki;
}
